body {
    font-family: SimSun,Source Han Sans CN,Inter var,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}

input::placeholder {
    color: #999;
    /* 这里可以是任何你想要的颜色 */
}

.layui-form-select dl dd.layui-this {
    background-color: #69b4ff !important;
}


/*自定义layui-layer.msg成功提示框样式*/
body .success-class {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 3px;
    color: #000;
    height: 46px;
    white-space: nowrap;
}

body .success-class .layui-layer-padding {
    text-align: center;
    padding: 0;
    height: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: calc(100% - 20px);
    white-space: nowrap;
    padding-left: 40px;
    padding-right: 20px;
}

body .success-class .layui-layer-content .layui-layer-ico {
    background-image: url(/static/global/images/correct.png);
    background-position: center;
    background-size: 80%;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
}


::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgb(237, 240, 246);
}

::-webkit-scrollbar-thumb {
    width: 8px;
    height: 8px;
    background-color: #dddddd;
    border-radius: 4px;
}

/*自定义layui-layer.msg成功提示框样式*/
body .fail-class {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 3px;
    color: #000;
    height: 46px;
    white-space: nowrap;
}

body .fail-class .layui-layer-padding {
    text-align: center;
    padding: 0;
    height: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: calc(100% - 20px);
    white-space: nowrap;
    padding-left: 40px;
    padding-right: 20px;
}

body .fail-class .layui-layer-content .layui-layer-ico {
    background-image: url(/static/global/images/wrong.png);
    background-position: center;
    background-size: 80%;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
}


body .loading-class {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 3px;
    color: #000;
    height: 46px;
    white-space: nowrap;
}

body .loading-class .layui-layer-padding {
    text-align: center;
    padding: 0;
    height: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: calc(100% - 20px);
    white-space: nowrap;
    padding-left: 40px;
    padding-right: 20px;
}

body .loading-class .layui-layer-content .layui-layer-ico {
    background-image: url(/static/global/images/loading.gif);
    background-position: center;
    background-size: 80%;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
}


.bg-hover-blueimage-right {
    width: 30px;
    height: 30px;
    background-image: url(/static/global/images/right.png);
    background-position: center;
    background-size: 90%;
    /* 添加过渡效果 */
}

.bg-hover-blueimage-right:hover {
    background-image: url(/static/global/images/right-blue.png);
}

.bg-hover-blueimage-down {
    width: 30px;
    height: 30px;
    background-image: url(/static/global/images/down.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    /* 添加过渡效果 */
}

.bg-hover-blueimage-down:hover {
    background-image: url(/static/global/images/down-blue.png);
}

.clicked-dbordomain {
    background: linear-gradient(to right, #c6dffc, rgb(227, 236, 251));
    font-weight: 600;
}

.tab-notclicked {
    color: #6b6b6b;
}

.tab-notclicked:hover {
    color: #1C86EE;
    background-color: rgb(222, 227, 238);
}

.tab-img-notclicked {
    background-image: url(/static/global/images/setting.png);
    background-position: 18px center;
    background-size: 18%;
    background-repeat: no-repeat;
}

.tab-img-notclicked:hover {
    background-image: url(/static/global/images/setting-blue.png);
}

.tab-clicked {
    color: #1C86EE;
    font-weight: 600;
    background-color: rgb(231, 243, 254);
}

.tab-img-clicked {
    background-image: url(/static/global/images/setting-blue.png);
    background-position: 18px center;
    background-size: 18%;
    background-repeat: no-repeat;
}

.content-tab-notclicked {
    color: #4b4b4b;
}
.content-tab-notclicked:hover {
    color: #1C86EE;
}
.content-tab-clicked {
    color: #1C86EE;
    font-weight: 600;
    background-color: rgb(231, 243, 254);
}

.confirm-delete {
    width: 500px;
    height: 260px;
    border-radius: 20px;
}

.layui-layer-dialog .layui-layer-content {
    height: 165px;
}

.layui-layer-btn .layui-layer-btn0 {
    width: 64px;
    border-radius: 6px;
    border-color: #d81e06 !important;
    background-color: #d81e06 !important;
    color: #fff;
    text-align: center;
}

.layui-layer-btn .layui-layer-btn1 {
    width: 64px;
    border-radius: 6px;
    margin-left: 5px;
    text-align: center;
}